* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}

html,body {
    background-color: black;
}

.nav-link{
    color: white !important;
    font-weight: bold !important;
    font-family: 'Open Sans', sans-serif !important;
}

.nav-link:hover{
    color: #4caf50 !important;
}

.wrap-all{
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100vw;
}

#myContainer {
   position: relative;
   background-color: rgba(0, 0, 0, 0.650);
   top: 70px;
   height: 370px;
   width: 370px;
}

#cardHeader {
   font-size: 40px;
   color: white;
   text-transform: uppercase;
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
}

.margina {
 margin-right: 20px;
}

.myLabelText {
   color: white;
   text-transform: uppercase;
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
}

body {overflow-x: hidden;}

a { 
   font-size: 18px;
   width: max-content;
   color: #4caf50;
}

a:hover {
   color: white;
   text-decoration: none;
}

th{
    color: #32383e;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

td{
    color: #4caf50;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

#emailInput{width:200px;}

section{
   color: white;
   font-family: sans-serif;
   background: transparent;
   width: 100vw;
   height: 200vh;
   padding: 75px 200px;
   text-align: center;
}

#title{
   margin-top: 8vh;
   color: white;
   font-weight: bold;
   font-size: 50px;
   font-family: 'Open Sans', sans-serif;
   margin-bottom: 10vh;
   text-transform: uppercase;
}

#buttonSearch{
   background-color: transparent;
   color: white;
   font-family: 'Open Sans', sans-serif;
   text-transform: uppercase;
   padding: 5px 15px;
   border: 2px solid #4caf50;
   font-weight: 500;
   font-size: 17px;
   font-weight: bold;
   position: absolute;
   cursor:pointer;
   user-select: none;
}

#search{
   display: none;
   margin-top: 7vh;
   padding: 10px;
   background-color: rgba(0, 0, 0, 0.650);
   float: left;
   position: relative;
}

button{
   cursor: pointer;
   margin-top: 5px; 

   width: 100%;
   background-color: transparent !important;
   border: 2px solid #4caf50 !important;
   margin-top: 20px;
   color: white;
   text-transform: uppercase;
   font-family: 'Open Sans', sans-serif;
   font-weight: bold !important;
   height: 35px;
}

.my-custom-scrollbar {
   float: left;
   width: 100%;
   height: 400px;
   overflow: auto;
   margin-top: 5vh;
}

.table-wrapper-scroll-y {
   display: block;
}

#userTable{
   background-color: #343a40;
}

#userTableHeader{
   background: #4caf50;
   color: white;
}

input{
    background-color: transparent !important;
    border: none !important;
    border-bottom: 2px solid #4caf50 !important;
    color: white !important;
    font-size: 15px !important;
    font-weight: bold !important;
    font-family: 'Open Sans', sans-serif !important;
    border-radius: unset !important;
}

input:focus{
    box-shadow: none !important;
}

.modal-content{
    background-color: black !important;
    border: 2px solid #4caf50 !important;
}

.col-form-label{
    color: white !important;
    font-weight: bold !important;
    font-family: 'Open Sans', sans-serif !important;
}

.modal-header{
    border-bottom: unset !important;
}

.modal-title{
    color: white !important;
    font-weight: bold !important;
    font-family: 'Open Sans', sans-serif !important;
}

.modal-footer{
    border-top: unset !important;
}