* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}

.wrap-all{
    width: 100%;
    height: 100vh;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-div{
    background-color: transparent;
    position: relative;
    background-color: rgba(0, 0, 0, 0.650);
    border: 2px solid #4caf50;
    width: 400px;
    text-align: center;
    padding: 10px 30px;
}

h1{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-top: 5px;
}

h1::selection{
    background-color: #4caf50;
}

input{
    width: 300px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #4caf50;
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.email{
    margin-top: 5px;
}

.pass{
    margin-top: 15px;
}

button{
    width: 300px;
    height: 42px;
    background-color: transparent;
    border: 2px solid #4caf50;
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
}

p{
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

#errorMessage{
    color: #ff3d3d;
}

a{
    text-decoration: none;
    color: #4caf50;
}

p::selection{
    background-color: #4caf50;
    color: white;
}

a::selection{
    background-color: #4caf50;
    color: white;
}